@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* Nav */

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 6vh;
    gap: 10vw;
    text-transform: uppercase;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.icon{
    background-color: #fa3030;
    height: 6vh;
    padding: 10px;
    font-size: 1.5vh;
}

.nav-wrap{
    box-shadow: 0px 0px 10px black;
    background-color: #222222;
    position: fixed;
    width: 100%;
}


nav a{
    text-decoration: none;
    color: white;
}

.about a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav-cont a::after{
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fa3030;
    transition: all 0.2s;
}

.nav-cont a:hover::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fa3030;
    transition: all 0.2s;
}

.line{
    border-radius: 50px;
    width: 1px;
    height: 3vh;
    background-color: white;
}

/* Hero */

.hero-cont{
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: White;
    padding-left: 20vw;
    gap: 3vh;
}

.hero-wrap{
    padding-top: 6vh;
    background-image: url(./ASSETS/pedro-lastra-Nyvq2juw4_o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h2{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}

.hero-cont p{
    width: 60%;
}

.hero-btn{
    width: fit-content;
    background-color: #fa3030;
}

.hero-btn h3{
    padding: 20px;
    padding-bottom: 15px;
    text-transform:uppercase;
    font-size: 15px;
    cursor: pointer;
}

.hero-btn h3::after{
    margin-top: 5px;
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    border-radius: 50px;
    background-color: #222222;
    transition: all 0.2s;
}

.hero-btn h3:hover::after{
    width: 100%;
    transition: all 0.2s;
}

.hero{
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

/* Section 1 */
.sec1-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec1-head h3{
    font-size: 50px;
}

.sec1-wrap{
    padding-top: 10vh;
}

.sec1-cont{
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec1-types{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background-color: #fa3030;
    color: white;
}

.sec1-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.section1{
    border: 1px solid #949494;
    display: flex;
    flex-direction: column;
    flex: 0 0 40.3333%;
}

/* .s11 .sec1-img{
    background-image: url(https://th.bing.com/th/id/OIP.smV1Zyx1EtizOIXpl6ZE4gHaEo?pid=ImgDet&rs=1);
}
.s12 .sec1-img{
    background-image: url(https://th.bing.com/th/id/OIP.gpAeKsyK6Uy7VPvdXqd5IwHaE8?pid=ImgDet&rs=1);
}
.s13 .sec1-img{
    background-image: url(https://th.bing.com/th/id/OIP.zAbQ0K_5GpzEncL8UOet0wHaE8?pid=ImgDet&rs=1);
}
.s14 .sec1-img{
    background-image: url(https://c2.staticflickr.com/8/7380/8722744533_5fb19e125e_b.jpg);
}
.s15 .sec1-img{
    background-image: url(https://wallpapercave.com/wp/wp8346969.jpg);
}
.s16 .sec1-img{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Posts_Brook_from_Norvin_Green_State_Forest_Lower_Trail.jpg/1200px-Posts_Brook_from_Norvin_Green_State_Forest_Lower_Trail.jpg);
} */

.sec1-img{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .num{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #fa3030;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} */

.num{
    text-align: center;
    font-size: 30px;
    width: 50%;
}

.inc{
    font-size: 50px;
}

.sec1-wrap::after, #benifits::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #222222;
}

/* Section 2 */
.sec2-wrap, .sec3-wrap{
    padding-top: 10vh;
}

.sec2-cont{
    padding: 10px;
}

.sec2-cont ul{
    margin: auto;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.sec2-cont li{
    flex: 0 0 30%;
    padding: 3vw;
    text-align: center;
}

.sec2-img{
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50px;
    padding: 10px;
    background-color: #fa3030;
}

.material-icons{
    color: white;
    margin: 10px;
    font-size: 50px;
}

.sec2-data h4{
    font-weight:bold;
}

.sec2-data{
    margin-block: 30px;
}

.sec2-data p{
    width: 80%;
    margin: auto;
}

.sec2-head{
    text-align: center;
}

.sec2-head h3{
    padding: 10px;
    font-size: 50px;
}

.change .sec2-img{
    border-radius: 50px;
    transition: all ease-in-out 0.2s;
}

.change .sec2-img:hover{
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

/* About */
.about-wrap{
    padding: 20vh;
    padding-top: 15vh;
    padding-bottom: 0vh;
    height: 90vh;
}

.about-cont ul{
    padding: 30px;
    list-style: none;
    font-size: 1.6vw;
    display: flex;
    gap: 3vw;
    height: 55vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.about-cont .photo{
    border-radius: 50%;
    margin: auto;
    width: 300px;
    height: 300px;
    border: 2px solid #fa3030;
}

.member1{
    background-image: url(./ASSETS/profile/333d67c2-4534-4f0b-bab9-f370798342a7.jpeg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -50px -190px;
}

.member2{
    background-image: url(https://devitt-forand.com/wp-content/uploads/2018/05/person-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.member3{
    background-image: url(./ASSETS/profile/7b182e22-6886-4355-811c-5e5583981511.jpeg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -80px -10px;
}

/* Footer */
footer{
    color: white;
    background-color: #fa3030;
}

.footer-cont{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;

}

.footer-cont a{
    text-decoration: none;
    text-transform: capitalize;
}

.footer-cont a::after{
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all ease-in-out .1s;
}

.footer-cont a:hover::after{
    width: 100%;
    transition: all ease-in-out .1s;
}

.footer-cont span{
    font-size: 30px;
}